body {
  background-color: #000;
  font-family: "proxima nova", sans-serif;
  color: #fff;
}
.wrapper{
	width:80%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
}
.img-cont{
	display: block;
	width: 100%;
	height: 700px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.landing{
	width: 100%;
	padding-bottom: 20px;	
}

#work{

	display: flex;
	justify-content: center;
	align-items: center;
	margin:30px;
}
.example img{
	display: flex;
	
	justify-content: center;
	align-items: center;
	height:200px;
	width: 200px;
}
#code{
	display: flex;
	width:100%;
}
#code h1{
	color: white;
}


.slider{
	width: 100%;
	position: relative;
	height:200px;
	display: flex;
	justify-content: center;
	margin: 20px auto;
}

#slider-title{
	display:flex;
	justify-content: center;
	font-size: 20px;
}
.slide-1, .slide-2, .slide-3, .slide-4, .slide-5, .slide-6, .slide-7, .slide-8{
	display:block;
	position: absolute;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	
}

#chart{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.slide-1{
	animation: fade1 20s infinite;
	
}

.slide-2{
	animation: fade2 20s infinite;
	
}
.slide-3{
	animation: fade3 20s infinite;
	
}
.slide-4{
	animation: fade4 20s infinite;
	
}
.slide-5{
	animation: fade5 20s infinite;
	
}
.slide-6{
	animation: fade6 20s infinite;
	
}
.slide-7{
	animation: fade7 20s infinite;
	
}
.slide-8{
	animation: fade8 20s infinite;
	
}




@keyframes fade1
{
	0%{opacity: 1;}
	12%{opacity: 0;}
	24%{opacity: 0;}
	36%{opacity: 0;}
	48%{opacity: 0;}
	60%{opacity: 0;}
	73%{opacity: 0;}
	86%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fade2
{
	
	0%{opacity: 0;}
	12%{opacity: 1;}
	24%{opacity: 0;}
	36%{opacity: 0;}
	48%{opacity: 0;}
	60%{opacity: 0;}
	73%{opacity: 0;}
	86%{opacity: 0;}
	100%{opacity: 0;}
}

@keyframes fade3
{
	
	0%{opacity: 0;}
	12%{opacity: 0;}
	24%{opacity: 1;}
	36%{opacity: 0;}
	48%{opacity: 0;}
	60%{opacity: 0;}
	73%{opacity: 0;}
	86%{opacity: 0;}
	100%{opacity: 0;}
}

@keyframes fade4
{
	
	0%{opacity: 0;}
	12%{opacity: 0;}
	24%{opacity: 0;}
	36%{opacity: 1;}
	48%{opacity: 0;}
	60%{opacity: 0;}
	73%{opacity: 0;}
	86%{opacity: 0;}
	100%{opacity: 0;}
}

@keyframes fade5
{
	
	0%{opacity: 0;}
	12%{opacity: 0;}
	24%{opacity: 0;}
	36%{opacity: 0;}
	48%{opacity: 1;}
	60%{opacity: 0;}
	73%{opacity: 0;}
	86%{opacity: 0;}
	100%{opacity: 0;}
}
@keyframes fade6
{
	
	0%{opacity: 0;}
	12%{opacity: 0;}
	24%{opacity: 0;}
	36%{opacity: 0;}
	48%{opacity: 0;}
	60%{opacity: 1;}
	73%{opacity: 0;}
	86%{opacity: 0;}
	100%{opacity: 0;}
}
@keyframes fade7
{
	
	0%{opacity: 0;}
	12%{opacity: 0;}
	24%{opacity: 0;}
	36%{opacity: 0;}
	48%{opacity: 0;}
	60%{opacity: 0;}
	73%{opacity: 1;}
	86%{opacity: 0;}
	100%{opacity: 0;}
}
@keyframes fade8
{
	
	0%{opacity: 0;}
	12%{opacity: 0;}
	24%{opacity: 0;}
	36%{opacity: 0;}
	48%{opacity: 0;}
	60%{opacity: 0;}
	73%{opacity: 0;}
	86%{opacity: 1;}
	100%{opacity: 0;}
}

#selections{
	display: flex;
	width:100%;
	margin: auto;
	padding: 20px 0 20px 0;
	justify-content: center;
	
}

.selection_btn{
	
	text-decoration: none;
	cursor: pointer;
	font-size: 3em;
	color: #992abf
	border-color: #992abf;
	border: 0.05em solid;
	border-radius: 0.25em;
	margin: .25em;
	text-shadow: 0 0 0.125em #992abf;
	padding: .1em .25em .1em .25em;
	box-shadow: 0px 0px 0.5em #992abf;
}

a {
	margin: 0 1em 0 1em;
	color: #992abf;
}
a:hover {
	color:#aaaaaa;
	box-shadow: 0px 0px 0.5em #aaaaaa;
	
}


.contact a {
	margin: 0 1em 0 1em;
	color: #fff;
}
.contact a:hover {
	margin: 0 1em 0 1em;
	color: #aaa;
	background:#222;
}